<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.17.0" targetFramework="net462" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net462" />
  <package id="FParsec" version="1.0.3" targetFramework="net462" />
  <package id="FSharp.Core" version="4.3.4" targetFramework="net462" />
  <package id="LtGt" version="1.0.2" targetFramework="net462" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net462" />
  <package id="MahApps.Metro.IconPacks" version="2.3.0" targetFramework="net462" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net462" />
  <package id="morelinq" version="2.10.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net462" />
  <package id="Sprache" version="2.2.0" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.Memory" version="4.5.5" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net462" />
  <package id="System.Text.Encoding.CodePages" version="6.0.0" targetFramework="net462" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net462" />
  <package id="System.Text.Json" version="6.0.6" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="TagLibSharp" version="2.3.0" targetFramework="net462" />
  <package id="YoutubeExplode" version="6.2.4" targetFramework="net462" />
</packages>